.calendar-wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.weekdays-grid,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.day-cell {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    transition: all 0.2s;
    user-select: none;

    &:hover {
        background: rgba(255, 255, 255, 0.15);
    }

    &.empty {
        background: transparent;
        cursor: default;
    }

    &.selected {
        background: var(--primary-gradient);
        box-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
        transform: scale(1.05);
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;

        background:
            linear-gradient(to top left,
                transparent calc(50% - 1px),
                red calc(50% - 1px),
                red calc(50% + 1px),
                transparent calc(50% + 1px))
    }
}